@import "Variables.scss";
@import "Base.scss";
@import "Animations.scss";

.panel.no-padding .panel-body{
    padding: 0;
}

#toTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    cursor: pointer;
    opacity: 0.7;
    padding: 0 15px;

    &:hover{
        opacity: 1;
    }
}

.img-author{
    opacity: 0.7;

    &:hover{
        opacity: 1;
    }
}

.author-items ul{
    list-style: none;
}